<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy" />

    <uses-sdk tools:overrideLibrary="dev.oneuiproject.oneui" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.WINGSV"
        tools:targetApi="34">

        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />

        <meta-data
            android:name="theming-meta"
            android:value="theming_meta_wingsv" />

        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/theming_meta_wingsv" />

        <activity
            android:name=".PermissionOnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.WINGSV" />

        <activity
            android:name=".ProxyLogsActivity"
            android:exported="false"
            android:theme="@style/Theme.WINGSV" />

        <activity
            android:name=".OpenSourceLicensesActivity"
            android:exported="false"
            android:theme="@style/Theme.WINGSV" />

        <activity
            android:name=".AboutAppActivity"
            android:exported="false"
            android:theme="@style/Theme.WINGSV" />

        <activity
            android:name=".SharingTargetSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.WINGSV" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.WINGSV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="wingsv" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ProxyTunnelService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
